[build-system]
requires = ["flit_core >=3.4.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "geb-model"
dist-name = "geb-model"
authors = [
    {name = "Jens de Bruijn", email = "jens.de.bruijn@vu.nl"},
    {name = "Maurice Kalthof", email = "w.m.l.kalthof@vu.nl"},
    {name = "Veerle Bril", email = "v.c.bril@vu.nl"},
    {name = "Tim Busker", email = "tim.busker@vu.nl"},
]
dependencies = [
    "deap",
    "dask>=2023.3.0",
    "flopy",
    "geopandas>=0.14",
    "honeybees",
    "hydromt-geb",
    "matplotlib",
    "numba",
    "numpy",
    "openpyxl",
    "pandas",
    "pybind11",
    "pyyaml",
    "rioxarray>=0.15",
    "rasterio",
    "scipy",
    "seaborn",
    "SALib>=1.4.8",
    "tbb",
    "xmipy",
    "xarray",
]
requires-python = ">=3.10"
readme = "README.md"
classifiers = [
    # https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Python :: 3",
]
dynamic = ['version', 'description']

[tool.flit.module]
name = "geb"

[project.optional-dependencies]
tests = [
    "pytest"
]
docs = [
    "sphinx",
    "sphinx-autodoc-typehints",
    "sphinxcontrib-autoprogram",
    "sphinx_rtd_theme",
    "sphinxcontrib-autoyaml"
]
gpu = [
    "cupy"
]

full = [
]

[project.scripts]
"geb" = "geb.cli:main"