chromedriver_autoinstaller
selenium
sphinx-autodoc-typehints
xarray
sphinx
arcgis2geojson
rasterio
sphinx_rtd_theme
git+https://github.com/jensdebruijn/hyve.git
git+https://github.com/jensdebruijn/ABCWatM.git