{
    "python.testing.pytestArgs": [
        "-s"
    ],
    "python.testing.unittestEnabled": false,
    "python.testing.pytestEnabled": true,
    "python.terminal.activateEnvironment": true,
    "python.terminal.shellIntegration.enabled": false,
    "python.terminal.activateEnvInCurrentTerminal": true,
    "python.envFile": ".env",
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.formatOnPaste": true,
    "editor.formatOnSave": true,
    "editor.formatOnSaveMode": "file",
    "editor.codeActionsOnSave": {
        "source.organizeImports": "always",
        "source.fixAll": "always"
    },
    "files.exclude": {
        ".ruff_cache": true,
        ".pytest_cache": true,
    },
}