general:
  # model start time (YYYY-MM-DD).
  start_time: 2010-01-01
  # model end time (YYYY-MM-DD).
  end_time: 2020-01-01
  # start of the spinup time (YYYY-MM-DD).
  spinup_time: 2000-01-01
  input_folder: input/
  preprocessing_folder: preprocessing/
  output_folder: output/
  spinup_name: spinup
  simulation_root: simulation_root
  name: default
  export_inital_on_spinup: true
  simulate_forest: false
  forecasts:
    use: false
    provider: ECMWF

hazards:
  floods:
    simulate: false
    forcing_method: accumulated_runoff  # headwater_points, accumulated_runoff
    minimum_flood_depth: 0.05
    flood_map_output_interval_seconds: null  # interval in seconds to output flood maps. null means no output.
    grid_size_multiplier: 1  # must be integer. The first DEM is used for the grid. This multiplier increases the grid cell size (i.e., reduces resolution) by this factor.
    subgrid: false
    force_overwrite: true
    coastal_only: false
    write_figures: true  # whether to generate and save diagnostic figures
    return_periods:
      - 2
      - 5
      - 10
      - 25
      - 50
      - 100
      - 250
      - 500
      - 1000
    SFINCS:
      gpu: auto  # True, False, "auto". If "auto", it will check if a GPU is available using nvidia-smi.
  damage:
    simulate: false
  erosion:
    simulate: false

hydrology:
  routing:
    algorithm: kinematic_wave  # accuflux or kinematic_wave
    river_width:
      parameters:
        default_alpha: 7.2
        beta: 0.5
    river_depth:
      method: manning # or power law. If power law, alpha and beta must be set additionally in the parameters

agent_settings:
  market:
    dynamic_market: false
    price_frequency: yearly
  households:
    adapt: false
    warning_response: false
    water_demand:
      method: default
    adjust_demand_factor: 1
    expected_utility:
      flood_risk_calculations:
        risk_perception:
          base: 1.6
          coef: -2.5
          max: 10
          min: 0.01
  farmers:
    ruleset:  
    base_management_yield_ratio: 1
    farmers_going_out_of_business: false
    cultivation_cost_fraction: 0.1
    microcredit:
      ruleset: no-adaptation
      interest_rate: 0.2
      loan_duration: 2
      loss_threshold: 25
    return_fraction: 0.5
    social_network:
      radius: 5000 # m
      size: 10 # nr of neighbors
    expected_utility:
      insurance:
        duration: 2
        seut_factor: 1
        personal_insurance: 
          ruleset: no-adaptation
        index_insurance: 
          ruleset: no-adaptation
        pr_insurance:
          ruleset: no-adaptation
      crop_switching: 
        ruleset: no-adaptation
      adaptation_sprinkler:
        ruleset: no-adaptation
        lifespan_base: 25
        lifespan_sprink_drip: 15
        loan_duration: 21
        decision_horizon: 20
        m2_cost: 1
        return_fraction_surface: 0.75
        return_fraction_sprinkler: 0.3
        return_fraction_drip:  0.2
        irr_eff_surface: 0.60
        irr_eff_sprinkler: 0.75
        irr_eff_drip:  0.95
      adaptation_irrigation_expansion:
        ruleset: no-adaptation
      adaptation_well:
        seut_factor: 1
        loan_duration: 21
        lifespan: 20
        decision_horizon: 20
        ruleset: no-adaptation
        pump_hours: 3.5
        specific_weight_water: 9800 # (kg/m3*m/s2)
        max_initial_sat_thickness: 50 # m
        well_yield: 0.00005 # m3/s
        pump_efficiency: 0.7 # $/KWh
        energy_cost_rate: 0.074
        maintenance_factor: 0.07
        WHY_10: 82.0209974 # $/m
        WHY_20: 164 # $/m
        WHY_30: 50 # $/m
      decisions:
        decision_horizon: 10
        expenditure_cap: 0.5
      water_price:
        water_costs_m3_reservoir: 0
        water_costs_m3_groundwater: 0
        water_costs_m3_channel: 0
      drought_risk_calculations:
        event_perception:
          drought_threshold: 5
        risk_perception:
          base: 1.6
          coef: -2.5
          max: 10
          min: 0.5
  fix_activation_order: true
  reservoir_operators:
    ruleset: no-adaptation
    equal_abstraction: false
    reservoir_M_factor: 0.1
  sensitivity_analysis:
    risk_aversion_factor: 1
    discount_rate_factor: 1
    interest_rate_factor: 1
    well_cost_factor: 1
    drought_threshold_factor: 1

logging:
  logfile: GEB.log  
  # The loglevel, choose from: DEBUG, INFO, WARNING, ERROR, CRITICAL
  loglevel: DEBUG

draw:
  draw_agents:
    crop_farmers:
      draw_every_nth: 1

report:
  _config:
    compression_level: 9  # 1 (min) to 22 (max)
    chunk_target_size_bytes: 100000000  # target chunk size in bytes
  _water_circle: false
  _discharge_stations: true
  _outflow_points: true

parameters:
  mannings_n_multiplier: 1.0
  crop_factor_multiplier: 1.0
  saturated_hydraulic_conductivity_multiplier: 1.0
  reservoir_release_factor: 0.1
  water_demand_multiplier_industry: 1.0
  lake_outflow_multiplier: 1.0

plantFATE:
  spinup_ini_file: data/plantFATE/p_spinup.ini
  run_ini_file: data/plantFATE/p_run.ini
  new_forest_ini_file: data/plantFATE/p_new_forest.ini
  new_forest: false
  new_forest_filename: null
  n_cells: 'all'

calibration:
  spinup_time: 1975-01-01
  start_time: 1978-01-01
  end_time: 1985-01-01
  path: calibration
  gpus: 0
  scenario: no-adaptation
  calibration_targets:
    KGE_discharge: 1
  DEAP:
    use_multiprocessing: true
    ngen: 10
    mu: 30
    lambda_: 12
    select_best: 10