name: Test Sphinx Docs (Non-Main Branches)

on:
  push:
    branches-ignore:  # Run on all branches except 'main'
      - main
  workflow_dispatch:

env:
  DEFAULT_BRANCH: "main"

jobs:
  build-docs:
    name: Build Sphinx Documentation
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Install the project
        run: |
          uv sync --dev
      - name: Build MkDocs
        run: |
          uv run mkdocs build -f docs/mkdocs.yml
