name: mkdocs build and deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Create docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Install the project
        run: uv sync --dev
      - name: Build MkDocs
        run: |
          uv run mkdocs build -f mkdocs.yml
      - name: Setup Node.js
        uses: actions/setup-node@v4
      - name: Install Wrangler
        run: |
          npm install -g wrangler
      - name: Deploy with Wrangler
        run: |
          wrangler deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
